<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        
    </startup>
    <appSettings>
        <!-- Discord bot token. -->
        <add key="BotToken" value=""/>
        
        <!-- How often we want to check for price updates. In seconds. -->
        <add key="RefreshRate" value="30"/>

        <!-- How frequently can the same item rise a price alert. In minutes. -->
        <add key="ItemNotificationCooldown" value="30"/>
        
        <!-- Maximum length of the URL which we use to fetch the sparkline. -->
        <add key="MaxSparklineDatasetLength" value="1800"/>
        
        <!-- Min volume of an item for it to be considered flippable. -->
        <add key="MinTradedVolume" value="10000"/>
        
        <!-- Min price of an item for it to be considered flippable. -->
        <add key="MinBuyPrice" value="1000"/>
        
        <!-- Minimum percentage of price drop after the item's price is considered dropped/spiked. -->
        <add key="MinPriceChangePercentage" value="5.0"/>
        
        <!-- Price API endpoints. -->
        <add key="LatestPricesApiEndpoint" value="https://prices.runescape.wiki/api/v1/osrs/latest"/>
        <add key="_5MinPricesApiEndpoint" value="https://prices.runescape.wiki/api/v1/osrs/5m"/>
        <add key="_1HourPricesApiEndpoint" value="https://prices.runescape.wiki/api/v1/osrs/1h"/>
        <add key="_6HourPricesApiEndpoint" value="https://prices.runescape.wiki/api/v1/osrs/6h"/>
        <add key="_24HourPricesApiEndpoint" value="https://prices.runescape.wiki/api/v1/osrs/24h"/>
        <add key="TimeSeriesApiEndpoint" value="https://prices.runescape.wiki/api/v1/osrs/timeseries?timestep=5m&amp;id="/>

        <!-- Item info API endpoints. -->
        <add key="MappingApiEndpoint" value="https://prices.runescape.wiki/api/v1/osrs/mapping"/>
        <add key="IconsApiEndpoint" value="https://secure.runescape.com/m=itemdb_oldschool/obj_big.gif?id="/>
        <add key="WikiApiEndpoint" value="https://oldschool.runescape.wiki/w/Special:Lookup?type=item&amp;id="/>
        <add key="PriceInfoPageApiEndpoint" value="https://prices.runescape.wiki/osrs/item/"/>
        <add key="GeTrackerPageApiEndpoint" value="https://www.ge-tracker.com/item/"/>

        <!-- ID's of all the items that should be excluded from the flipping service. -->
        <add key="BlacklistedItemIds" value=""/>
    </appSettings>
</configuration> 
